* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222; /* cor fundo */
    color: whitesmoke; /* #d2d2d2 cor texto */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px; /* sentido horário */
    z-index: 2;
    background: #333;
}

i {
    color: whitesmoke;
    font-size: 20px;
}

.menu { /* ul */
    display: flex;
    align-items: center;
    background: #222;
    gap: 5px;
    list-style: none;
}

.menu-item { /* list item = li */
    width: 100%;

}

.menu-link {
    color: whitesmoke;
    display: flex;
    text-decoration: none;

}

.menu-texto {
    font-size: 15px;
    text-transform: uppercase;
}