@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Inter:wght@100..900&display=swap');

/* Definir cores tema Dark */
:root, 
:root[data-theme="dark"] {
    --primary-bg-color: #111217;

    --primary-text-color: #ccc;
    --secondary-text-color: #fff;
    --terciary-text-color: #eee;
    --quartiary-text-color: #aaa;

    --primary-icon-color: #ccc;
    --secondary-icon-color: #aaa;
    
    --primary-border-color: #f3f3f31f;

    --primary-font: "Mulish", Tahoma, Geneva, Verdana, sans-serif;;
    --h1: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    --h2: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

/* Definir cores tema Light */
:root[data-theme="light"] {
    --primary-bg-color: #E9E9E9;

    --primary-text-color: #222;
    --secondary-text-color: #0a0a0a;
    --terciary-text-color: #111;
    --quartiary-text-color: #999;

    --primary-icon-color: #222;
    --secondary-icon-color: #555;
    
    --primary-border-color: #C7C8C9;
}


/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html[data-theme="light"] .logo {
    content: url("../img/logoP.svg");
}

body {
    background: var(--primary-bg-color); /* cor fundo */
    color: var(--primary-text-color); /* #d2d2d2 cor texto */
    font-family: var(--primary-font);
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px; /* sentido horário */
    z-index: 2;
/*     background: var(--primary-bg-color); */
}

.header-logo .logo {
    width: 3.5rem;
    height: 3.5rem
}

.menu { /* ul */
    display: flex;
    align-items: center;
/*     background: #222; */
    gap: 25px;
    list-style: none;
}

.menu-mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
    padding: 30px 0px;
    gap: 0px;
    
}

.menu-item { /* list item = li */
    width: 100%;

}

.menu-link {
/*     color: var(--secondary-icon-color); */
    display: flex;
    text-decoration: none;

}

.menu-texto {
    font-size: .8rem;
    text-transform: uppercase;
}

.menu-mobile .menu-link {
    flex-direction: column;
    align-items: center;
    padding: 7px 15px;
    justify-content: center;
    font-weight: 600;
}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
    color: var(--terciary-text-color);
    font-weight: 700;
}

/* Não selecionados */
.menu-icone,
.menu-texto {
    font-weight: 600;
    color: var(--secondary-icon-color);
}

.menu-mobile .menu-icone,
.menu-mobile, .menu-texto {
    color: var(--quartiary-text-color);
}

.menu-social .menu-icone,
.menu-social .menu-texto {
    font-weight: 600;
    color: var(--primary-icon-color);
}

.menu-icone {
    font-size: 25px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}

#toggleTheme {
    font-size: 24px;
    color: var(--primary-icon-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;    
}

h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 60px;
    letter-spacing: -1px;
    color: var(--secondary-text-color);
    font-family: var(--h1);
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: var(--h2);
    text-align: center;
}

main h2 {
    text-align: left;
}

p {
    font-size: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: transparent;
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    color: var(--primary-text-color);
}

.btn-primary {
    border: 1px solid var(--primary-text-color);
}

.btn span {
    text-transform: uppercase;
    font-size: 16px;
}

.btn i {
    font-size: 18px;
}

.btn:hover span, .btn:hover i {
    color: var(--primary-bg-color);
}

.btn-primary:hover {
    background: var(--primary-text-color);
}

a {
    text-decoration: none;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
}


/* Atualizações futuras */
#home, .projetos, .sobre, .contato {
    padding: 32px 16px;
}


/* Projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projeto-container {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #4d4d4d9d;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px
}

.card-title {
    font-family: var(--h2);
    font-size: 25px;

}

.card-description {
    font-size: 18px;
    font-weight: lighter;
}

.card-list {
    list-style: "▶️ ";
    margin-left: 15px;
}

card-item {
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Sobre */
.sobre {

}

.sobre-perfil {
    width: 30%;
    border-radius: 1000px;
    box-shadow: 0px 0px 10px #4d4d4d9d;
}


/* CSS Responsivo */
@media (min-width:768px) { /* maior que 768px */
    #header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 16px 80px;
        background: var(--primary-bg-color);
    }    
    .header-nav {
        display: flex;
    }
    .nav-mobile {
        display: none;
    }
    #home, .projetos, .sobre, .contato {
        padding: 120px 96px 64px 96px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 992px */
@media (min-width: 992px) {
    .projeto-card {
        flex-direction: row;
        gap: 100px
    }
    .projeto-card:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .card-img {
        width: 55%;
    }


}

/* 1200px */
@media (min-width: 1200px) {
    #home, .projetos, .sobre, .contato {
        padding: 120px 96px 32px;
    }
}

@media (min-width: 1400px) {
    /* #header {
        padding: ;
    } */
}
