* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222; /* cor fundo */
    color: #CCC; /* #d2d2d2 cor texto */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 16px; /* sentido horário */
    z-index: 2;
    background: #222;
}

i {
    font-size: 20px;
}

.menu { /* ul */
    display: flex;
    align-items: center;
    background: #222;
    gap: 5px;
    list-style: none;
}

.menu-item { /* list item = li */
    width: 100%;

}

.menu-link {
    color: #CCC;
    display: flex;
    text-decoration: none;

}

.menu-texto {
    font-size: .75rem;
    text-transform: uppercase;
}

.menu-mobile .menu-link {
    flex-direction: column;
    align-items: center;
    padding: 5px 15px;
    justify-content: center;
}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
    color: white;
}

/* Não selecionados */
.menu-icone,
.menu-texto {
    font-weight: 600;
    color: #969696;
}

/* .menu-link:hover .menu-texto {
    font-size: 0.9rem
}
.menu-link:hover .menu-icone {
    font-size: 22px
} */

.menu-icone {
    font-size: 25px;
}

.menu-principal {
    gap: 20px;
}

.nav-mobile {
    display: none;
}


/* CSS Responsivo */
@media (min-width:768px) {
    #header {
        position: fixed;
        border-bottom: 1px solid #f3f3f3;
    }    
}
