html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: black;
  font-size: 18px;
  
}

.container {
  background: white;
  width: 10rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
  display: grid;
}

/* ---------- carousel code ----------*/
.carousel-wrapper {
  width: 10rem;
  height: 10rem;
  position: relative;
}
.carousel-slide {
  position: absolute;
  opacity: 0;
}

img {
  object-fit: contain;
  width: 100%;
}

.arrow {
  border: solid;
  border-color: rgba(255, 255, 255, 0.7);
  border-width: 0 0.15rem 0.15rem 0;
  padding: 0.5rem;
}
  .arrow-prev {
    left: -1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
  }
  .arrow-next {
    right: -1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  



.slide-1 {
  z-index: 2;
  opacity: 1;
}

*:target ~ .slide-1 {
  opacity: 0;
}

#slide-1:target ~ .slide-1 {
  opacity: 1;
}

#slide-2:target ~ .slide-2 {
  z-index: 3;
  opacity: 1;
}


#slide-3:target ~ .slide-3 {
  z-index: 3;
  opacity: 1;
}

/* ---------- end carousel code ----------*/